body{
  background-color: #ff5782;
  font-family: sans-serif;
  margin-top:50px;
}
header {
  background-image: url('https://static.wikia.nocookie.net/marvel/images/3/30/Universo_Marvel.png/revision/latest?cb=20180130223827&path-prefix=pt-br');
  background-size: cover;
  height: 200px;
  padding: 20px;
}
section h1{
  font-size: 20px;
  padding-left:20px;
}
section {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  background-color: white;
  padding: 30px;
  max-width:600px;
}
  div{
    margin: 20px;
    border: 2px solid black;
    background-color: rgba(70,70,70,0.3);
    padding:10px;
  }
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 100%;
  border: 5px solid white;
  width: 150px;
  height: 150px;
  transform: translateY(-140px);
}